<h1>Listing questionnaires</h1>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @questionnaires.each do |questionnaire| %>
          <tr>
            <td><%= questionnaire.title %></td>
            <td><%= questionnaire.description %></td>
            <td><%= link_to 'Show', questionnaire %> | <%= link_to 'Edit', edit_questionnaire_path(questionnaire) %> | <%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Questionnaire', new_questionnaire_path %>
