<p id="notice"><%= notice %></p>

<h1>Questionnaire</h1>

<p>
  <strong>Title:</strong>
  <%= @questionnaire.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @questionnaire.description %>
</p>

<br>

<h3>Questions:</h3>

<% @questionnaire.questions.each do |question| %>
  <%= div_for question do %> 
    <%= render 'questionnaires/question', question: question %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
