<p id="notice"><%= notice %></p>

<h1>Questionnaire</h1>

<p>
  <strong>Title:</strong>
  <%= @questionnaire.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @questionnaire.description %>
</p>

<br>

<div class='row'>
  <div class='col-md-12'>
    <h3>Questions:</h3>
  </div>
</div>

<div id='questions-list'>
  <% @questionnaire.questions.each do |question| %>
    <%= render question %> 
  <% end %>
</div>

<hr>

<div class='row'>
  <div class='col-md-12'>
    <h4>New Question</h4>
    <%= form_for [@questionnaire, Question.new], method: "post", remote: true do |f|  %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <%= f.label :subtext %>
        <%= f.text_field :subtext %>
      </div>

      <div class="form-group">
        <%= f.label :required %>
        <%= f.check_box :required %>
      </div>
      
      <div class="form-group">
        <%= f.label :question_type %>
        <%= f.select :question_type, [["Scale", "Scale"], ["Free Text", "Free Text"]] %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Question" %>
      </div>
    <% end %>
  </div>
</div>
  

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
